<h1>Pick your range</h1>
<section id="panel" class="padding">
  <article id="low">
  <input type="text" name="floor" id="floor" placeholder="low">
  </article>
  <div id="middle">&</div>
  <article id="high">
  <input type="text" name="ceiling" id="ceiling" placeholder="high">
  </article>
</section>
<button id="start-game">Play</button>
