<section id="new-guess">
  <div id='msg'>What's your guess?</div>
  <form id="new-guess-form">
    <input type="text" name="guess" id="new_guess_number" placeholder="?">
    <input type="submit" value="Guess">
  </form>
</section>
<section id="end-game">
  <span>Enter your name to save your score</span>
  <input type="text" name="name">
  <button id='save'>Save</button>
  <button id='play-again'>No thanks. Play Again</button>
</section>
