<section id="new-guess">
  <div id='msg'>What's your guess?</div>
  <form id="new-guess-form">
    <input type="text" name="guess" id="new_guess_number" placeholder="?">
    <input type="submit" value="Submit">
  </form>
</section>
<section id="end-game">
  <div id='msg'>Enter your name to save your score</div>
  <input type="text" name="name" placeholder="Name">
  <button id='save'>Save</button>
  <button id='play-again'>No thanks. Play Again</button>
</section>
