<section id="new-guess">
  <div id='msg'>What is your guess?</div>
  <form id="new-guess-form">
    <input type="text" name="guess" id="new_guess_number">
    <input type="submit" value="Guess">
  </form>
</section>
<section id="end-game">
  <button>Play Again</button>
</section>