/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: black; }
body { margin: 0; font-size: 1em; line-height: 1.4; background: #222 image-url('background.png') top center;}

::-moz-selection { background: #ff4f67; color: #fff; text-shadow: none; }
::selection { background: #ff4f67; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; color:#222; }
button, input { line-height: normal; }
button,input {
    &:focus{
        outline:none;
        background:rgba(34,34,34,.04)!important;
    };
}
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
tr { border-bottom: 1px dashed #ccc; }
td { vertical-align: top; padding: 8px 0}
th { text-align:left; padding-bottom: 8px}

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

@mixin rounded-corners {
  -moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	}

header {
  width:64%;
  margin:40px auto 20px auto;
  padding-bottom:15px;
  border-bottom: 10px solid black;
  @media screen and (max-width: 1000px) {
    .slide-up-boxes{
      display:none;
    }
  };
  @media screen and (max-width: 600px) {
    img {
      width:100%;
    }
  };
}	
#main {
    width:60%;
    margin:20px auto;
    padding:1.5em;
    background:rgba(34,34,34,.1);
    border-bottom:1px solid #fff;
    border-right:1px solid #fff;
    border-top:1px solid #ddd;
    border-left:1px solid #ddd;
    @include rounded-corners;
    display:block;
    overflow:hidden;
    -moz-box-shadow: inset 0 1px 80px rgba(0,1,0,.1);
    -webkit-box-shadow: inset 0 1px 80px rgba(0,1,0,.1);
    box-shadow: inset 0 1px 80px rgba(0,1,0,.1);
    -moz-box-shadow: 0 0px 150px rgba(0,1,0,.1);
    -webkit-box-shadow: 0 0px 150px rgba(0,1,0,.1);
    box-shadow: 0 0px 150px rgba(0,1,0,.1);
}

#low {
    float:left;
    width:40%;
}
#middle {
    float:left;
    font-weight:bold;
    text-align:center;
    width:20%;
    font-size:350%;
    line-height:200%;
    color:#333;
    -moz-text-shadow: 1px 1px 0 rgba(255,255,255,.9);
    -webkit-text-shadow: 1px 1px 0 rgba(255,255,255,.9);
    text-shadow: 1px 1px 0 rgba(255,255,255,.9);
}
#high {
    float:right;
    width:40%;
}
.padding {
    padding:3em 4em!important;
}
#game {
    display:block;
}

#guess-game {
    width:48%;
    float:left;
}
#panel {
    background:rgba(255,255,255,.5);
    border:1px solid #ccc;
    padding:1em;
    @include rounded-corners;
    -moz-box-shadow: 0 1px 60px rgba(0,1,0,.1);
    -webkit-box-shadow: 0 1px 60px rgba(0,1,0,.1);
    box-shadow: 0 1px 60px rgba(0,1,0,.1);
    display:block;
    overflow:hidden;
}


#guess-count,#msg {
    color:#00ccff;
    font-size:100%;
    text-transform:capitalize;
    //font-weight:bold;
    
}
#guess-list {
    float:right;
    width:48%;
}
table {
    margin-bottom:.5em;
    width:100%;
}
#msg {
  margin-bottom:.5em;
  color:#ff0066;
  font-size:100%;
  text-transform:capitalize;
  font-weight:bold;
}
.guess-title{
  width:25%;
}
.guess-response {
    color:#666;
}
h1 {
    color:white;
    background:black;
    padding:.25em 1em;
    font-size:150%;
    @include rounded-corners;
    margin:0 0 20px 0;
    text-align:center;
    -moz-text-shadow: -1px -1px 0 rgba(34,34,34,.9);
    -webkit-text-shadow: -1px -1px 0 rgba(34,34,34,.9);
    text-shadow: -1px -1px 0 rgba(34,34,34,.9);
    span {
      background:rgba(255,255,255,.2);
      padding: 2px 6px;
      @include rounded-corners;
    }
}

h1.big {
    font-size:2em;
}

input[type=text] {
    border:none;
    //border:1px solid #ccc;
    background:rgba(34,34,34,.02);
    //background:none;
    color:black;
    display:block;
    width:100%;
    font-size:450%;
    line-height:150%;
    text-align:center;
    -moz-border-radius:.05em;
  	-webkit-border-radius:.05em;
  	border-radius:.05em;
}

input.error {
  background:rgba(255,255,255,.5) image-url('diag.png') top center!important;
  -moz-box-shadow: inset 0 2px 8px #ccc;
   -webkit-box-shadow: inset 0 2px 8px #ccc;
   box-shadow: inset 0 2px 8px #ccc;
   -moz-text-shadow: 1px 1px 0 rgba(53,53,53,.3);
   -webkit-text-shadow: 1px 1px 0 rgba(53,53,53,.3);
   text-shadow: 1px 1px 0 rgba(53,53,53,.3);
   color:#ff0066;
}

input[type=submit], button {
    border:none;
    background:#ff0066;
    text-transform:uppercase;
    color:#fff;
    display:block;
    width:100%;
    padding:2em 0;
    margin-top:1em;
    @include rounded-corners;
    &:hover {
        background:#111;
    };
}

input::-webkit-input-placeholder{
    color:#fff;
    font-weight:normal;
}
input:-moz-placeholder {
    color:#fff;
    font-weight:normal;
}

#end-game {
  display: none;
}

.slide-up-boxes {
  float:right;
  //width:60%;
  display:block;
  overflow:hidden;
  a {
    float:left;
    width:50px!important;
    height:50px;
    margin-left:20px!important;
    overflow:hidden;
    border-radius: 600px;
    background:none;
      -webkit-border-radius: 600px;
      -moz-border-radius: 600px;
      -o-border-radius: 600px;
  }
}
.slide-up-boxes a { 
	display: block; 
	margin: 23px 0 20px 0; 
	height: 50px;
	width:60px;
	overflow: hidden;
	text-decoration:none;
}

.slide-up-boxes .under { 
	color: #333; 
	text-align: center;
	height: 50px; 
	 -webkit-transition: margin-top 0.2s ease-in; 
	 -moz-transition: margin-top 0.2s ease-in; 
	 -o-transition: margin-top 0.2s ease-in;
}

.slide-up-boxes a:hover .under { 
	margin-top: -50px; 
}

.slide-up-boxes .over { 
	position: relative; 
	height: 30px; 
	padding: 10px;
	text-align:center;
	line-height:30px;
	color:#000;
}

footer {
    p {
      width:64%;
      margin: 0 auto;
      text-align:right;
      a {
        text-decoration:none;
        //border-bottom:10px solid #fff;
        padding-bottom:3px;
        color:#333!important;
        strong {
          border-bottom:1px solid #ccc;
        }
        &:hover {
          color:#004400!important;
        };
      }
    }
}
@media only screen and (min-width: 35em) {
  
}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
