<!DOCTYPE html>
<html>
<head>
  <title>Guesser</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p style="color:red; font-weight:bold; text-transform:uppercase;">look out buddy -- I'm coming for you!</p>
<%= yield %>

</body>
</html>
