<!DOCTYPE html>
<html>
<head>
  <title>Guesser</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Guesser</h1>
<section id="game">
  <%= yield %>
</section>

</body>
</html>
